.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF12.jpg')).right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF14.jpg')).right-side-chat__userpic
	.unread-count 10
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF18.jpg')).right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF2.jpg')).right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF21.jpg')).right-side-chat__userpic
	.unread-count 6
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF3.jpg')).right-side-chat__userpic
	.status-icon.online
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF41.jpg')).right-side-chat__userpic
	.unread-count 10
	.status-icon.do-not-disturb
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageF46.jpg')).right-side-chat__userpic
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageM12.jpg')).right-side-chat__userpic
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageM14.jpg')).right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageM27.jpg')).right-side-chat__userpic
	.status-icon.do-not-disturb
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageM31.jpg')).right-side-chat__userpic
	.status-icon.offline
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageM32.jpg')).right-side-chat__userpic
	.unread-count 11
	.status-icon.do-not-disturb
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageM36.jpg')).right-side-chat__userpic
	.status-icon.away
.right-side-chat__user(data-toggle="tooltip" title="Твой друг" data-placement="left")
	img(srcSet=require('../img/users/128/128x-random-user_imageM44.jpg')).right-side-chat__userpic
	.status-icon.offline