.card
    img.card-img-top(src=require('../img/services/480/480x-img(1).jpg') alt='img(1)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            .card-footer__nickname
                div.status-icon.online
                div Michael J Snyder
            .card-footer__right
                span.star 
                    object(type="image/svg+xml" data="img/icons/star.svg")
                        img(src=require("../img/icons/star.png") alt="Star")
                    | 5.0
                span (172)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(14).jpg') alt='img(14)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(15).jpg') alt='img(15)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(16).jpg') alt='img(16)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(17).jpg') alt='img(17)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(18).jpg') alt='img(18)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(19).jpg') alt='img(19)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(20).jpg') alt='img(20)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(21).jpg') alt='img(21)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(22).jpg') alt='img(22)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(23).jpg') alt='img(23)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(24).jpg') alt='img(24)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
.card
    img.card-img-top(src=require('../img/services/480/480x-img(25).jpg') alt='img(25)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...