.carousel-item
    img(src=require('../img/services/120/120x-img(1).jpg') alt='img(1)')
.carousel-item
    img(src=require('../img/services/120/120x-img(14).jpg') alt='img(14)')
.carousel-item
    img(src=require('../img/services/120/120x-img(15).jpg') alt='img(15)')
.carousel-item
    img(src=require('../img/services/120/120x-img(16).jpg') alt='img(16)')
.carousel-item
    img(src=require('../img/services/120/120x-img(17).jpg') alt='img(17)')
.carousel-item
    img(src=require('../img/services/120/120x-img(18).jpg') alt='img(18)')
.carousel-item
    img(src=require('../img/services/120/120x-img(19).jpg') alt='img(19)')
.carousel-item
    img(src=require('../img/services/120/120x-img(20).jpg') alt='img(20)')
.carousel-item
    img(src=require('../img/services/120/120x-img(21).jpg') alt='img(21)')
.carousel-item
    img(src=require('../img/services/120/120x-img(22).jpg') alt='img(22)')
.carousel-item
    img(src=require('../img/services/120/120x-img(23).jpg') alt='img(23)')
.carousel-item
    img(src=require('../img/services/120/120x-img(24).jpg') alt='img(24)')
.carousel-item
    img(src=require('../img/services/120/120x-img(25).jpg') alt='img(25)')