.card
    img.card-img-top(src=require('../img/services/480/480x-img(1).jpg') alt='img(1)')
    .card-body
        .card-title В поиске клана
        .card-text Адекватный опытный игрок ищу клан для покорения Йотунхейма...
        .card-footer
            span.card-footer__nickname
                i.status-icon.do-not-disturb
                span.status-name colleen perry
            span.cart-footer__right
                i.icon-star_outline.star
                span.orange 1
                span (101)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(14).jpg') alt='img(14)')
    .card-body
        .card-title Набор игроков
        .card-text Клан SOFTs Shadow of Templars 511 гос производит донабор активных игроков...
        .card-footer
            span.card-footer__nickname
                i.status-icon.do-not-disturb
                span.status-name elmer lima
            span.cart-footer__right
                i.icon-star.star
                span.orange 3
                span (135)
.card.premium
    img.card-img-top(src=require('../img/services/480/480x-img(15).jpg') alt='img(15)')
    .card-body
        .card-title Ищу клан
        .card-text Ищу клан с нормальным и адекватным колективом) Связь голосовая присутст...
        .card-footer
            img.icon-premium(src='./img/icons/Premium.svg' alt='Premium')
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name آیلین زارعی
            span.cart-footer__right
                i.icon-star.star
                span.orange 3
                span (109)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(16).jpg') alt='img(16)')
    .card-body
        .card-title Ищу сплочённый коллектив!
        .card-text О себе; 20 лет, онлайн каждый день, адекватный донат, могущества 100(m)...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name daniel haataja
            span.cart-footer__right
                i.icon-star_half.star
                span.orange 2
                span (96)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(17).jpg') alt='img(17)')
    .card-body
        .card-title Награда за уничтожение
        .card-text Обнулить игрока под ником Ragnar королевство (781).
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name marian murray
            span.cart-footer__right
                i.icon-star.star
                span.orange 4
                span (114)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(18).jpg') alt='img(18)')
    .card-body
        .card-title Помогу в битвах
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name nicolas aguilar
            span.cart-footer__right
                i.icon-star.star
                span.orange 4
                span (103)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(19).jpg') alt='img(19)')
    .card-body
        .card-title Рекрутинг
        .card-text 424 гос, боевой клан Агрессор ищет активных соратников с хорошей...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name amelia sanders
            span.cart-footer__right
                i.icon-star_outline.star
                span.orange 1
                span (170)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(20).jpg') alt='img(20)')
    .card-body
        .card-title Продам аккаунт
        .card-text 
            div.card-text__power Замок: 31 уровень <br> Могущество: 80 256 658 879
            | Не тратье время на прокачку замка! Купите у нас уже прокаченный...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name eve marie
            span.cart-footer__right
                i.icon-star_half.star
                span.orange 2
                span (169)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(21).jpg') alt='img(21)')
    .card-body
        .card-title Продам ресурсы
        .card-text С перелетом в любой гос. <br> При покупке выше 5(b) скидка 5%
        .card-footer
            span.card-footer__nickname
                i.status-icon.away
                span.status-name coşkun körmükçü
            span.cart-footer__right
                i.icon-star.star
                span.orange 3
                span (3)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(22).jpg') alt='img(22)')
    .card-body
        .card-title Уничтожу ваших врагов
        .card-text 
            div.card-text__power Могущество: 260 795 357 554
            | Постоянно гангают? Мы поможем отомстить...
        .card-footer
            span.card-footer__nickname
                i.status-icon.do-not-disturb
                span.status-name alexander french
            span.cart-footer__right
                i.icon-star.star
                span.orange 5
                span (138)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(23).jpg') alt='img(23)')
    .card-body
        .card-title Уничтожу ваших врагов
        .card-text 
            div.card-text__power Могущество: 180 233 910 004 
            | За ваши ресурсы сожгу любой город.
        .card-footer
            span.card-footer__nickname
                i.status-icon.away
                span.status-name benjamin jørgensen
            span.cart-footer__right
                i.icon-star.star
                span.orange 5
                span (18)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(24).jpg') alt='img(24)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name randolf timm
            span.cart-footer__right
                i.icon-star.star
                span.orange 3
                span (114)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(25).jpg') alt='img(25)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name vílson aragão
            span.cart-footer__right
                i.icon-star.star
                span.orange 5
                span (128)