.card
    img.card-img-top(src=require('../img/services/480/480x-img(1).jpg') alt='img(1)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.do-not-disturb
                span.status-name necati çağıran
            span.cart-footer__right
                i.icon-star_outline.star
                span.orange 1
                span (132)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(14).jpg') alt='img(14)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name ailo devik
            span.cart-footer__right
                i.icon-star_half.star
                span.orange 2
                span (114)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(15).jpg') alt='img(15)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name alexandra chen
            span.cart-footer__right
                i.icon-star.star
                span.orange 4
                span (170)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(16).jpg') alt='img(16)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name delilah de gooijer
            span.cart-footer__right
                i.icon-star.star
                span.orange 3
                span (136)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(17).jpg') alt='img(17)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name milia falch
            span.cart-footer__right
                i.icon-star_half.star
                span.orange 2
                span (42)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(18).jpg') alt='img(18)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name fatih ertürk
            span.cart-footer__right
                i.icon-star_half.star
                span.orange 2
                span (74)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(19).jpg') alt='img(19)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.away
                span.status-name gilbert curtis
            span.cart-footer__right
                i.icon-star.star
                span.orange 5
                span (133)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(20).jpg') alt='img(20)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name belen torres
            span.cart-footer__right
                i.icon-star_half.star
                span.orange 2
                span (151)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(21).jpg') alt='img(21)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name ailo devik
            span.cart-footer__right
                i.icon-star_outline.star
                span.orange 1
                span (4)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(22).jpg') alt='img(22)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name alexandra chen
            span.cart-footer__right
                i.icon-star_outline.star
                span.orange 1
                span (51)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(23).jpg') alt='img(23)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.online
                span.status-name ailo devik
            span.cart-footer__right
                i.icon-star_outline.star
                span.orange 1
                span (28)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(24).jpg') alt='img(24)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name philip møller
            span.cart-footer__right
                i.icon-star.star
                span.orange 5
                span (176)
.card
    img.card-img-top(src=require('../img/services/480/480x-img(25).jpg') alt='img(25)')
    .card-body
        .card-title Card title
        .card-text Update! Experience the fury of Kingdoms Fight t...
        .card-footer
            span.card-footer__nickname
                i.status-icon.offline
                span.status-name belen torres
            span.cart-footer__right
                i.icon-star_outline.star
                span.orange 1
                span (84)