
div(data-toggle="tooltip" title="Бронза").resources-grid__item
    img(src=require("../img/resources/Бронза.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Дерево").resources-grid__item
    img(src=require("../img/resources/Дерево.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Еда").resources-grid__item
    img(src=require("../img/resources/Еда.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Железо").resources-grid__item
    img(src=require("../img/resources/Железо.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Знания").resources-grid__item
    img(src=require("../img/resources/Знания.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Золото").resources-grid__item
    img(src=require("../img/resources/Золото.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Камень").resources-grid__item
    img(src=require("../img/resources/Камень.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Манускрипт").resources-grid__item
    img(src=require("../img/resources/Манускрипт.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Могущество").resources-grid__item
    img(src=require("../img/resources/Могущество.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Большого Багги").resources-grid__item
    img(src=require("../img/resources/Оберег Большого Багги.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Вендлы из Тени").resources-grid__item
    img(src=require("../img/resources/Оберег Вендлы из Тени.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Инги Мудрой").resources-grid__item
    img(src=require("../img/resources/Оберег Инги Мудрой.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Рейна Странника").resources-grid__item
    img(src=require("../img/resources/Оберег Рейна Странника.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Сиббы Кровавого").resources-grid__item
    img(src=require("../img/resources/Оберег Сиббы Кровавого.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Стига Меткого").resources-grid__item
    img(src=require("../img/resources/Оберег Стига Меткого.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Ульфа Смелого").resources-grid__item
    img(src=require("../img/resources/Оберег Ульфа Смелого.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Эйнара Вольного").resources-grid__item
    img(src=require("../img/resources/Оберег Эйнара Вольного.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Оберег Эльзы Кочевницы").resources-grid__item
    img(src=require("../img/resources/Оберег Эльзы Кочевницы.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Обсидиан").resources-grid__item
    img(src=require("../img/resources/Обсидиан.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Опыт героя").resources-grid__item
    img(src=require("../img/resources/Опыт героя.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Опыт шамана").resources-grid__item
    img(src=require("../img/resources/Опыт шамана.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Осколок души").resources-grid__item
    img(src=require("../img/resources/Осколок души.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="очки VIP").resources-grid__item
    img(src=require("../img/resources/очки VIP.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Самородок").resources-grid__item
    img(src=require("../img/resources/Самородок.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Свитки").resources-grid__item
    img(src=require("../img/resources/Свитки.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Серебро").resources-grid__item
    img(src=require("../img/resources/Серебро.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Тотемы").resources-grid__item
    img(src=require("../img/resources/Тотемы.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Уголь").resources-grid__item
    img(src=require("../img/resources/Уголь.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Ускорители").resources-grid__item
    img(src=require("../img/resources/Ускорители.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Чертежи воителя").resources-grid__item
    img(src=require("../img/resources/Чертежи воителя.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Элексир героя").resources-grid__item
    img(src=require("../img/resources/Элексир героя.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)

div(data-toggle="tooltip" title="Элексир шамана").resources-grid__item
    img(src=require("../img/resources/Элексир шамана.png")).resources-grid__img
    div.resources-grid__title(style="color:#e4a62b") 7.78(b)
